@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="icon" href="~/vertical/assets/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="~/vertical/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="~/vertical/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="~/vertical/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- loader-->
    <link href="~/vertical/assets/css/pace.min.css" rel="stylesheet" />
    <script src="~/vertical/assets/js/pace.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="~/vertical/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vertical/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/vertical/assets/css/app.css" rel="stylesheet">
    <link href="~/vertical/assets/css/icons.css" rel="stylesheet">
    <title>RandevuAppy</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body class="bg-login">
    <!--wrapper-->
    <div id="app" class="wrapper">
        <div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
                    <div class="col mx-auto">
                        <div class="mb-4 text-center">
                            <img src="assets/images/logo-img.png" width="180" alt="" />
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div class="border p-4 rounded">
                                    <div class="text-center">
                                        <h3 class="">Giriş Yap</h3>
                                        <p>
                                            Henüz bir hesabınız yok mu? <a href="authentication-signup.html">Buradan kayıt olabilirsiniz</a>
                                        </p>
                                    </div>
                                    <div class="d-grid">
                                        <a class="btn my-4 shadow-sm btn-white" href="javascript:;">
                                            <span class="d-flex justify-content-center align-items-center">
                                                <img class="me-2" src="~/vertical/assets/images/icons/search.svg" width="16" alt="Resim Açıklama">
                                                <span>Google ile Giriş Yap</span>
                                            </span>
                                        </a> <a href="javascript:;" class="btn btn-facebook"><i class="bx bxl-facebook"></i>Facebook ile Giriş Yap</a>
                                    </div>
                                    <div class="login-separater text-center mb-4">
                                        <span>VEYA E-POSTA İLE GİRİŞ YAP</span>
                                        <hr />
                                    </div>
                                    <div class="form-body">
                                        <form class="row g-3" v-on:submit.prevent="login">
                                            <div class="col-12">
                                                <label for="inputEmailAddress" class="form-label">E-posta Adresi</label>
                                                <input type="email" class="form-control" id="inputEmailAddress" placeholder="E-posta Adresi" v-model="email">
                                            </div>
                                            <div class="col-12">
                                                <label for="inputChoosePassword" class="form-label">Şifre Girin</label>
                                                <div class="input-group" id="show_hide_password">
                                                    <input type="password" class="form-control border-end-0" id="inputChoosePassword" placeholder="Şifre Girin" v-model="password">
                                                    <a href="javascript:;" class="input-group-text bg-transparent"><i class='bx bx-hide'></i></a>
                                                </div>
                                            </div>
                                            <!-- ... (other form fields) -->
                                            <div class="col-12">
                                                <div class="d-grid">
                                                    <button type="submit" class="btn btn-primary"><i class="bx bxs-lock-open"></i>Giriş Yap</button>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row-->
            </div>
        </div>
    </div>

    <!--end wrapper-->
    <!-- Bootstrap JS -->
    <script src="~/vertical/assets/js/bootstrap.bundle.min.js"></script>
    <!--plugins-->
    <script src="~/vertical/assets/js/jquery.min.js"></script>
    <script src="~/vertical/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <script src="~/vertical/assets/plugins/metismenu/js/metisMenu.min.js"></script>
    <script src="~/vertical/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <!--Password show & hide js -->
    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bx-hide");
                    $('#show_hide_password i').removeClass("bx-show");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bx-hide");
                    $('#show_hide_password i').addClass("bx-show");
                }
            });
        });

        const app = Vue.createApp({
            data() {
                return {
                    email: '',
                    password: '',
                    showPassword: false,
                    errors: {},
                };
            },
            methods: {
                async login() {
                    this.errors = {};

                    //if (!this.email) {
                    //    this.errors.email = 'Email is required.';
                    //}
                    //else if (!isValidEmail(this.email)) {
                    //    this.errors.email = 'Invalid email format Giriyorsunuzzz.';
                    //}
                    //if (!this.password) {
                    //    this.errors.password = 'Password is required.';
                    //}

                    //if (Object.keys(this.errors).length > 0) {
                    //    return;
                    //}

                    try {
                        const data = {
                            userPassword: this.password,
                            userEmail: this.email
                        };

                        const response = await axios.post('https://localhost:7137/User/Login', data);

                        
                        if (response.status === 200) {
                            // Successful login
                            const jwtToken = response.data.accessToken;
                            const refreshToken = response.data.refreshToken;
                            const expiration = response.data.expiration;
                            console.log('Login successful');
                            console.log('JWT Token:', jwtToken);
                            console.log('Refresh Token:', refreshToken);
                            console.log('expiration', expiration);
                            window.location.href = 'https://localhost:7007/home/index';
                        } else {
                            // Failed login
                            console.error('Login failed');
                        }
                    } catch (error) {
                        console.error('Error:', error);
                    }

                },
            },
        });
        app.mount('#app');

    </script>

    <!--app JS-->
    <script src="~/vertical/assets/js/app.js"></script>
</body>

</html>